$header-height = 40px
$backdrop-z-index = 999
$top-bar-z-index = $backdrop-z-index - 1

.fill  display flex

.grow-equally
  flex-grow 1

.remaining-space
  flex 1 1 auto

.flex-column
  height 100%
  display flex
  flex-direction column

.single-line
  white-space nowrap

.full-size
  width 100%
  height 100%
  overflow auto
  position relative

mat-sidenav
  width 200px

mat-sidenav-container
  height 100%

.relative
  position relative


.translate-center
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)

.backdrop
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  width 100%
  height 100%
  z-index $backdrop-z-index
