<div class="container">
  <h1>Contact Form</h1>
  <form novalidate [formGroup]="contactForm">
    <div class="form-group">
      <mat-input-container>
        <input matInput
            placeholder="Name"
            formControlName="name"
            name="name" id="name">
        <mat-error *ngIf="!contactForm.controls.name.valid">Name is required
        </mat-error>
      </mat-input-container>
    </div>
    <div class="form-group">
      <mat-input-container>
        <input matInput
            placeholder="Email" type="email"
            formControlName="email">
        <mat-error *ngIf="!contactForm.controls.email.valid">Email is invalid
        </mat-error>
      </mat-input-container>
    </div>
    <div class="form-group">
      <mat-input-container>
        <textarea matInput
            placeholder="Message"
            formControlName="message"
            maxlength="2000">
        </textarea>
        <mat-error *ngIf="!contactForm.controls.message.valid">Message is
          required
        </mat-error>
      </mat-input-container>
    </div>

    <div class="form-group">
      <re-captcha #captcha name="captcha" site_key="{{captchaKey}}"
          (captchaResponse)="handleCorrectCaptcha($event)"
          (captchaExpired)="handleCorrectCaptcha(null)"></re-captcha>
    </div>
    <button mat-raised-button color="primary" (click)="onSubmit()"
        [disabled]="!contactForm.valid || !(token | async)">Send
    </button>
  </form>
</div>