<div class="full-size relative">
    <div class="top-bar">
        <md-icon class="light menu-icon" (click)="sidebar.toggle()">menu</md-icon>
        <button md-raised-button class="grow-equally" color="primary" (click)="openSignIn()">Sign In</button>
        <button md-raised-button class="grow-equally" color="primary" (click)="openSignUp()">Sign Up</button>
    </div>

    <span [hidden]="!socialLogin" class="social-login-box">
        <div class="oa_social_login_container"></div>
        <md-icon class="light close-social-box" (click)="closeSocialLogin()">close</md-icon>
    </span>

    <md-sidenav-layout>
        <md-sidenav #sidebar>
        </md-sidenav>
        <div class="grow-equally content-holder">
            <md-progress-bar mode="indeterminate" color="primary"
                *ngIf="loading"></md-progress-bar>

            <router-outlet></router-outlet>
        </div>
    </md-sidenav-layout>

    <div class="backdrop" *ngIf="pendingRequests">
        <div class="translate-center">
            <md-progress-circle mode="indeterminate"></md-progress-circle>
        </div>
    </div>

    <alert dismissible="true" (close)="closeNotification()"
        *ngFor="let notification of notification | async"
        [type]="notification.type"
        class="notification-box">
            {{notification.message}}
    </alert>
</div>