<div class="flex-column">
    <md-toolbar color="primary" class="top-tool-bar">
        <md-icon class="light" (click)="menu.toggle()">menu</md-icon>

        <div class="centered-box">
            <button id="sign-in-btn" md-icon-button color="accent"
                (click)="menu.toggle();openProfile()">
                <md-icon class="light">account_circle</md-icon>
            </button>
            <label for="sign-in-btn" class="single-line">Profile</label>
        </div>

        <span class="remaining-space"></span>

        <div class="centered-box">
            <button id="logout-btn" md-icon-button color="accent"
                (click)="logout()">
                <md-icon class="light">lock</md-icon>
            </button>
            <label for="logout-btn" class="single-line">Logout</label>
        </div>
    </md-toolbar>

    <md-sidenav-layout>
        <md-sidenav #menu (close)="menuClose()" [style.width]="profileAction(currentAction | async) ? '400px' : '200px'">
            <ps-profile *ngIf="profileAction(currentAction | async)"></ps-profile>
            <ps-side-bar *ngIf="!profileAction(currentAction | async)" (actionDone)="doAction($event)"></ps-side-bar>
        </md-sidenav>

        <router-outlet></router-outlet>
    </md-sidenav-layout>
</div>